body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #E6E0D9; }
body a { color: #336699 }
body h2 {
    padding-bottom: 12px;
    font-weight: bold; }
body h3 { padding-bottom: 10px; }
body pre {
    display: block;
    background-color: #F8F8FF;
    border: 1px solid #DEDEDE;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
body ul.bulleted li { list-style-type: square; }
body ul.bulleted li span { font-weight: bold; }

#container {
  width: 80%;
  margin: 20px auto;
  overflow: hidden; }

#header {
  background-color: #900209;
  padding: 30px 10px 20px 10px;
  border-bottom: 2px solid #EC9A94;
  overflow: hidden; }
#header h1 {
    float: left;
    color: #ECEBC3;
    font-size: 2.3em;
    font-weight: bold; }

#header ul.menu {
    margin-left: 80px;
    margin-top: 10px;
    float: left;
    overflow: hidden; }
#header ul.menu li {
      float: left;
      margin-right: 20px;
      padding-bottom: 5px; }
#header ul.menu li a {
        font-size: 1.2em;
        color: #DFF6FC;
        text-decoration: none; }
#header ul.menu li a:hover { text-decoration: underline; }

#main {
  float: left;
  width: 600px;
  padding-top: 20px; }
#main h2 { font-size: 2.1em; }
#main h2.post { margin-bottom: 20px;}
#main h2.post p { padding-bottom: 10px; }
#main h2.post.title {
      font-family: "Georgia,Times New Roman,serif";
      font-size: 2em;
      color: #752A26; }
#main h2.post.title a {
        color: #752A26;
        text-decoration: none; }
#main h2.post title a:hover { text-decoration: underline; }
#main h2.post.date {
      font-size: 1.1em;
      color: #999999;
      display: block;
      margin-bottom: 15px;
      margin-top: 2px; }
#main h2.post.body { padding-bottom: 10px; }
#main h2.post.details {
      border-top: 1px solid #CCCCCC;
      margin-bottom: 0.25em;
      padding: 5px 0;
      overflow: hidden; }
#main h2.post.details.author {
        float: left;
        padding-right: 5px;
        border-right: 1px solid #CCCCCC; }
#main #show.author { border-right: none; }

#sidebar {
  padding: 20px;
  margin-left: 20px;
  float: left;
  height: 650px;
  width: 320px;
  border: 1px dotted black;}

#sidebar p {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 12px; }

#about h2 {
    font-family: "Georgia,Times New Roman,serif";
    font-size: 2em;
    color: #752A26; }
#about h3 { 
    font-family: "Georgia,Times New Roman,serif";
    font-size: 1.5em;
    color: #752A26;
    padding-bottom: 6px; }

#about p { padding-bottom: 12px; }

#footer { padding: 30px 10px 10px 10px; }